@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ecf0f3;
  text-decoration: none;
  scroll-behavior: smooth;
}

/*Custom Scrollbar*/
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    border: 2px solid #D0D9E8;
    box-shadow: inset -3px -3px 7px #ffffff, inset 
    3px 3px 5px #ceced1;
}

::-webkit-scrollbar-thumb{
    background: #3498db;
    border-radius: 20px;
}

/*Sidebar*/

.side_bar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background: #ecf0f3;
  padding: 12px;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1,
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
  transition: all 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.side_bar.active{
    left: 0;
}

.side_bar .title {
  display: flex;
  justify-content: space-evenly;
}

.nav {
  position: fixed;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    border: 1px solid #D0D9E8;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  background: #ecf0f3;
}

.nav .name {
  font-size: 27px;
  padding: 10px 20px;
  font-weight: 600;
  color: #31344b;
}

.nav .dark{
    display: flex;
    position: fixed;
    top: 10px;
    right: 100px;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    border: 1px solid #D0D9E8;
    padding: 8px;
    border-radius: 50%;
    text-decoration: none;
}

.nav .dark i{
    color: #31344b;
    font-size: 20px;
}

.nav .dark i:hover{
    color: #3498db;
}

.nav .dark:hover{
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1, inset -3px -3px 7px #ffffff, inset 
    3px 3px 5px #ceced1;
    border: 1px solid #D0D9E8;
}

.side_bar .title .logo {
  font-size: 27px;
  font-weight: 600;
  color: #31344b;
}

.side_bar ul {
  margin-top: 35px;
  list-style: none;
}

.side_bar ul a {
  color: #31344b;
  text-decoration: none;
  display: block;
  margin-top: 12px;
  font-size: 18px;
  border: 1px solid #D0D9E8;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 6px;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
  position: relative;
  transition: all 0.2s ease;
}

.side_bar ul i {
  margin-right: 10px;
}

.media_icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.media_icons a {
  position: relative;
  margin: 0 4px;
  font-size: 17px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
  transition: all 0.3s ease;
  border: 1px solid #D0D9E8;
}

.side_bar ul a:hover:before,
.media_icons a:hover:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}

.side_bar ul a:hover:before {
  border-radius: 6px;
}

.media_icons a:hover:before {
  border-radius: 50%;
}

.side_bar ul a:hover {
  color: #3498db;
}

.media_icons a:nth-child(1) {
  color: #4267b2;
}

.media_icons a:nth-child(2) {
  color: #1da1f2;
}

.media_icons a:nth-child(3) {
  color: #e1306c;
}

.media_icons a:nth-child(4) {
  color: #ff0000;
}

label {
  font-size: 17px;
  color: #31344b;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #D0D9E8;
  padding: 4px;
}

label:hover {
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
  color: #3498db;
}

#check {
  display: none;
}

.bars {
  position: fixed;
  right: 15px;
  top: 10px;
  transition: all 0.5s ease;
}

#check:checked~.side_bar {
  left: 0;
}

#check:checked~.nav .bars {
  display: none;
}

/*HOME SECTION*/
.home {
  width: 100%;
  height: 500px;
  display: flex;
}

.content {
  max-width: 300px;
  margin: 70px 60px 0 60px;;
  color: #31344b;
}

.content h5 {
  font-size: 25px;
  /*box-shadow: -3px -3px 7px #ffffff,
  3px 3px 5px #ceced1;*/
  padding: 0px 12px;
}

.content h1 {
  color: #3498db;
  font-size: 40px;
  padding: 5px 12px;
}

.content h6 {
  font-size: 20px;
  padding: 0px 12px;
}/*

.photo{
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    width: 300px;
}

.photo::before{
    content: '';
    box-shadow: inset -3px -3px 7px #ffffff, inset 
    3px 3px 5px #ceced1;
    width: 320px;
}
*/
.photo img{
    max-width: 300px;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    margin: 20px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #D0D9E8;
}

.photo{
    box-shadow: inset -3px -3px 7px #ffffff, inset 
    3px 3px 5px #ceced1;
    width: 350px;
    height: 380px;
    border-radius: 50%;
    margin: 70px;
    border: 1px solid #D0D9E8;
}

/*About Section*/
.about{
    display: flex;
    width: 100%;
    height: 500px;
}

.about::before{
    content: 'About';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 400;
    color: #3498db;
}

.about .text p a{
    color: #3498db;
}

.about .text{
    width: 400px;
    position: absolute;
    justify-content: right;
    right: 50px;
    color: #31344b;
    font-size: 20px;
    text-decoration: none;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    border: 1px solid #D0D9E8;
    padding: 15px;
    margin-top: 70px;
}

.about .cv{
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #D0D9E8;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    background: #ecf0f3;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.about .cv:hover{
    box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
    color: #3498db;
}

.about .cv a{
    text-decoration: none;
    color: #31344b;
    font-family: 500;
}

.image .img{
    max-width: 300px;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    border: 1px solid #D0D9E8;
}

.image{
    box-shadow: inset -3px -3px 7px #ffffff, inset 
    3px 3px 5px #ceced1;
    width: 350px;
    height: 380px;
    border-radius: 10px;
    margin: 70px;
    position: relative;
    justify-content: left;
    border: 1px solid #D0D9E8;
}

/*SKILLS SECTION
{
  width: 100%;
  height: 100vh;
  z-index: -3;
}*/

.container{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: -3px -3px 7px #ffffff,
  3px 3px 5px #ceced1;
  align-items: center;
  height: 310px;
  width: 900px;
  padding: 20px 0;
  border: 1px solid #D0D9E8;
  margin-top: 20px;
}

.bar {
  border-radius: 50px;
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1, inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
  width: 80%;
  height: 26px;
  position: relative;
  margin-left: 30px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #D0D9E8;
}

.skill p{
    font-size: 20px;
    color: #3498db;
    text-align: center;
    margin: 60px 0 0 0;
}

.box {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 800px;
  height: 68px;
  display: flex;
  box-shadow: -3px -3px 7px #ffffff,
  3px 3px 5px #ceced1;
  border: 1px solid #D0D9E8;
}

.box .title{
  color: #31344b;
  justify-content: center;
  margin: 25px 10px;
}

.bar:before {
  position: absolute;
  content: "";
  left: 6px;
  top: 5px;
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
  height: 54%;
  border-radius: 55px;
  border: 1px solid #D0D9E8;
}

#html:before {
  width: 90%;
  animation: animate 1s linear;
}

#css:before {
  width: 80%;
  animation: animate 1s linear;
}

#py:before {
  width: 70%;
  animation: animate 1s linear;
}

@keyframes animate{
    0%{
        width: 0%;
    }
    
    100%{
     width: 100%;
    }
}


.sidebar ul a:hover ~ .sidebar{
    left: -100%;
}

/*Services Section*/
.serv{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

.all{
    display: flex;
    margin-left: -50px;
}

.serv .web{
    position: relative;
    box-shadow: inset -3px -3px 7px #ffffff, inset
    3px 3px 5px #ceced1;
    width: 290px;
    height: 390px;
    margin: 80px 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #D0D9E8;
    
}

.serv .web .txt{
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    width: 250px;
    height: 350px;
    padding: 15px;
    transition: all 0.5s ease;
    border-radius: 10px;
    border: 1px solid #D0D9E8;
}

.web .txt:hover{
    background: linear-gradient(#FF01FB, #BC05FF);
    transform: translateY(-20px);
    color: #fff;
}



.serv::before{
    content: 'Services';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 400;
    color: #3498db;
}
/*
.web .txt::after{
    content: 'Web';
    position: relative;
    font-size: 75px;
    bottom: 10px;
    color: #31344b;
    opacity: 0.1;
    font-weight: 800;
}*/

.web .txt p{
    font-size: 20px;
    color: #31344b;
    text-decoration: none;
    transition: all 0.5s ease;
}

.web .txt p a{
    color: #3498db;
}

.web .txt h3{
    font-size: 35px;
    color: #3498db;
    transition: all 0.5s ease;
}

/*PORTFOLIO SECTION STYLING
.portfolio{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    background: pink;
}*/

.port{
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio .p{
    font-size: 20px;
    color: #3498db;
    text-align: center;
}

.port .pro{
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    width: 250px;
    height: 150px;
    margin: 20px;
    text-align: center;
    color: #31344b;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 50px;
    border: 1px solid #D0D9E8;
}

.port .pro .site{
    width: 220px;
    height: 110px;
    box-shadow: inset -3px -3px 7px #ffffff, inset 
    3px 3px 5px #ceced1;
    margin: 10px 15px 5px 15px;
    border: 1px solid #D0D9E8;
}

.port .pro .site img{
    width: 220px;
    height: 110px;
}


/*CONTACT SECTION STYLING START*/
.contact{
    width: 100%;
    height: 800px;
}

.contact p{
    font-size: 20px;
    color: #3498db;
    text-align: center;
}

.contact .con{
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    width: 80%;
    height: 650px;
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px;
    border: 1px solid #D0D9E8;
    line-height: 10px;
}

.contact .con input[type="text"]{
    background: #ecf0f3;
    border: 1px solid #D0D9E8;
    width: 80%;
    box-shadow: inset -3px -3px 7px #ffffff, inset 
    3px 3px 5px #ceced1;
    height: 40px;
    border-radius: 25px;
    outline: none;
    color: #31344b;
    padding-left: 10px;
    font-size: 20px;
    padding-right: 10px;
}

.contact .con h5{
    color: #31344b;
    line-height: 30px;
}

.contact .con textarea{
    background: #ecf0f3;
    border: 1px solid #D0D9E8;
    box-shadow: inset -3px -3px 7px #ffffff, inset 
    3px 3px 5px #ceced1;
    outline: none;
    color: #31344b;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    resize: none;
}

.contact .detail{
    display: flex;
}

.contact .add{
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    width: 30%;
    height: 150px;
    margin: 20px;
    padding: 30px;
    border: 1px solid #D0D9E8;
}

.contact .add:hover{
    box-shadow: inset -3px -3px 7px #ffffff, inset
    3px 3px 5px #ceced1;
}

.contact .add h3{
    color: #3498db;
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 20px;
}

.contact .add h4{
    color: #31344b;
    text-align: left;
    font-size: 20px;
}

.contact .con button{
    background: #ecf0f3;
    padding: 10px 15px;
    border-radius: 25px;
    color: #31344b;
    border: 1px solid #D0D9E8;
    display: block;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    margin-top: 10px;
    font-size: 15px;
    outline: none;
}

.contact .con button:hover{
    box-shadow: inset -3px -3px 7px #ffffff, inset
    3px 3px 5px #ceced1;
    outline: none;
}


/*MAKING IT RESPONSIVE*/